lolilol
<body>
</br>
</br>
</br>
</br>
</br>
</br>
JE SUIS L"USER 
<%=@user.first_name %>
<%= link_to "Changer de mot de passe", edit_user_password_path %>
<%= link_to "Editer le compte",  edit_user_registration_path %>
</body>