</br></br></br></br></br></br></br>

<center>
<h2>Conditions générales de ventes</h2>



<p><span style="font-size:16px">Nos produits sont déconseillés aux femmes enceintes.</span></p>



<p><span style="font-size:16px">1) Acceptation des présentes conditions</span></p>

<p><span style="font-size:16px">Le client accepte sans réserve et reconnaît avoir pris connaissance des présentes conditions au moment de passer sa commande.</span></p>

<p><span style="font-size:16px">Elles régissent le contrat entre la société YEAH BRA et son client, les deux parties les acceptant sans réserve.</span></p>



<p><span style="font-size:16px">2) Produits</span></p>

<p><span style="font-size:16px">Les images des fiches produits ne sont que des illustrations, bien que ces&nbsp;photographies soient prises sur les mêmes produits&nbsp;que vous recevrez, toute différence entre les images et les produits reçus n'est pas un motif de réclamation.</span></p>

<p><span style="font-size:16px">Les prix sont entendus TTC sans les frais de livraison.&nbsp;</span></p>

<p><span style="font-size:16px">Le consommateur s'engage à consommer les produits avant sa date limite de consommation.</span></p>


<p><span style="font-size:16px">3) Commande</span></p>

<p><span style="font-size:16px">Les informations récoltées par le &nbsp;système de commande présent sur le site valent preuve du contenu et de la date de la commande.</span></p>

<p><span style="font-size:16px">La vente est conclue suite à l'acceptation du paiement du client.</span></p>

<p><span style="font-size:16px">Si un produit est amené à être en rupture de stock, le client recevra un mail lui proposant de choisir un nouveau produit, un délai de livraison plus long ou un remboursement.</span></p>

<p><span style="font-size:16px">La livraison de la commande s'effectue en FRANCE et en BELGIQUE.</span></p>

<p><span style="font-size:16px">Tout frais liés à une erreur dans le nom, l'adresse ou autres informations concernant le client sera à la charge de ce dernier.</span></p>


<p><span style="font-size:16px">4) Paiement</span></p>

<p><span style="font-size:16px">Le&nbsp;paiement s'effectue à la commande par carte bancaire ou par virement.</span></p>

<p><span style="font-size:16px">La commande sera prise en compte après acceptation du paiement.</span></p>


<p><span style="font-size:16px">5) Livraison</span></p>

<p><span style="font-size:16px">YEAH BRA fait le maximum pour remettre au transporteur&nbsp;les produits dans un délai de 24h ouvrées suite à la confirmation du paiement de la commande.</span></p>

<p><span style="font-size:16px">La livraison s'effectue par le biais du service Lettre suivi dans un délai de 24 à 48H ou de Chronopost dans un délai de 24H.</span></p>

<p><span style="font-size:16px">Les retards éventuels ne seraient pas donner lui à une réclamation.</span></p>


<p><span style="font-size:16px">6) Rétractation</span></p>

<p><span style="font-size:16px">Les produits vendus étant alimentaire et donc périssable vous ne disposez pas de droit de rétractation. Si vous constatez un colis abimé ou non conforme vous devez le signaler directement au transporteur.</span></p>


<p><span style="font-size:16px">7) Litiges</span></p>

<p><span style="font-size:16px">Le contrat conclue entre YEAH BRA et son client est soumis au droit français.</span></p>

<p><span style="font-size:16px">YEAH BRA ne peut être tenu responsable pour quelque dommage que ce soit, matériel, immatériel ou corporel.</span></p>

<p><span style="font-size:16px">La responsabilité de YEAH BRA est dans tous les cas limitée au montant de la commande.</span></p>

<p><span style="font-size:16px">En cas de litige, le client s'adressera en priorité à YEAH BRA afin de trouver une solution amiable.</span></p>

<p><span style="font-size:16px">Le cas échéant la juridiction compétente&nbsp;sera le tribunal d'AVIGNON.</span></p> 

</center>