</br></br></br></br></br></br></br></br>

<center>
<h2>Mentions légales </h2>
<h4>Identification et publication</h4>

<h4>Editeur</h4>

Ce site est publié par l'entreprise YEAH BRAH ( SIRET 844392985066) SARL au capital de 1000 bitcoins, immatriculée à Péta-au-chnok, dont le siège social est 2 rue de la soif 14000 BOUZACTOW. Téléphone: 07 56 95 94 00. E-mail: contact@cbdrone.fr

<h4>Hébergeur</h4>


<h4>Propriété Intellectuelle</h4>
<p>La charte graphique du site a été créée par Le site Francais, qui propose des services Web et Design aux entreprises du monde entier !</p>

<p>Tous les éléments graphiques, la structure et, plus généralement, le contenu du site cbdrone.fr sont protégés par le droit d'auteur, le droit des marques et le droit des dessins et modèles.
</p>
<p>Toute personne qui recueille ou télécharge du contenu ou des  informations diffusées sur le site ne dispose sur ceux-ci que d’un droit d’usage privé, personnel et non transmissible.
</p>
<p>La reproduction d’une page du site dans un cadre extérieur à cbdrone.fr ou l’insertion d’une page appartenant à [nom du site] dans la page d’un autre site est interdite.
De même, toute reproduction ou représentation du site en partie ou en totalité est interdite sans l'accord écrit de [nom du site] et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la Propriété Intellectuelle.
</p><p>
Les textes, graphismes, dessins, logos et photos qui sont diffusés cbdrone.fr peuvent faire l'objet d'une reproduction sur un support papier ou un support électronique, sous réserve de citer le nom et l'adresse du site et de ne pas en faire une utilisation commerciale.
Le non-respect des dispositions ci-dessus est susceptible de constituer une contrefaçon engageant la responsabilité civile ou pénale de l'auteur de la contrefaçon.
Collecte et utilisation des données à caractère personnel</p>
<p>

La collecte des données à caractère personnel pour les prestations proposées par le site cbdrone.fr ainsi que leur traitement sont effectués dans le respect de la loi « Informatique, Fichiers et Libertés » du 6 janvier 1978 modifiée et ses décrets d’application.
</p><p>
La collecte des données à caractère personnel concernant les utilisateurs du site cbdrone.fr a pour finalités principales l’identification des utilisateurs pour la fourniture des services et prestations proposés sur le site.
</p>
<p>
Les données récoltées ne sont jamais transmis à des tiers sauf si le client a donné son consentement préalable et ce sous réserve que les tiers se soient clairement engagés à respecter toutes les dispositions de la Loi du 6 janvier 1978 modifiée.
</p>
<p>
En application de la loi, toute personne ayant transmis des données à caractère personnel dispose d’un droit d’accès, de rectification et de suppression des données ainsi que d’un droit d’opposition au traitement des données à caractère personnel la concernant.
A tout moment, vous pouvez demander à exercer ce droit en contactant cbdrone.fr.
</p>
<p>
Les visiteurs du site sont informés que pour les besoins de la navigation sur le site cbdrone.fr,  cbdrone.fr peut avoir recours à la collecte automatique de certaines informations relatives aux utilisateurs à l'aide des cookies. Si l'utilisateur du site ne souhaite pas l’utilisation de cookies par cbdrone.fr, il peut refuser l’activation des cookies par le biais des options proposés par son navigateur internet. Pour des raisons techniques, si l'utilisateur désactive les cookies dans son navigateur, certaines prestations proposées sur le site [url du site] pourront ne pas lui être accessibles.
</p>

</center>
