</br></br></br></br></br></br></br></br></br></br>

<section class="feature_product_area section_gap">
		<div class="main_box">
			<div class="container-fluid">
				<div class="row">
					<div class="main_title">
						<h2>Nos Produits</h2>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>









				<div class="row">
<% @items.each do |item| %>
					<div class="col col1">

						<div class="f_p_item">
							<div class="f_p_img">

								<%= image_tag(item.image_url) %>
								
								<div class="p_icon">
									<a href="#">
										<i class="lnr lnr-heart"></i>
									</a>
									<a href="#">
										<i class="lnr lnr-cart"></i>
									</a>
								</div>
							</div>
							
						 <%= item.title %> </br>
						 

						 			 Price :  <%= item.price %> $</br>
						 <%= link_to "Voir plus...", item_path(item.id)%> </br>

						</div>

					</div>
					<%end%>
					


				</div>

				
			</div>
		</div>
	</section>

	<div id="fh5co-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-md-push-1 animate-box">

				<div class="fh5co-contact-info">
					<h3>Contact Information</h3>
					<ul>
						<li class="address">198 West 21th Street, <br> New York NY 10016</li>
						<li class="phone"><a href="tel://1234567920">+ 1234 5678 90</a></li>
						<li class="email"><a href="mailto:info@yoursite.com">contact.thp.paris@gmail.com</a>
						<li class="url"><a href="https://webshop-x.herokuapp.com/">Here you already are!</a></li>
					</ul>
				</div>

			</div>
			<div class="col-md-6 animate-box">
				<h3>Get In Touch</h3>
				<form action="#">
					<div class="row form-group">
						<div class="col-md-6">
							<!-- <label for="fname">First Name</label> -->
							<input type="text" id="fname" class="form-control" placeholder="Your firstname">
						</div>
						<div class="col-md-6">
							<!-- <label for="lname">Last Name</label> -->
							<input type="text" id="lname" class="form-control" placeholder="Your lastname">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<!-- <label for="email">Email</label> -->
							<input type="text" id="email" class="form-control" placeholder="Your email address">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<!-- <label for="subject">Subject</label> -->
							<input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-12">
							<!-- <label for="message">Message</label> -->
							<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
						</div>
					</div>
					<div class="form-group">
						<input type="submit" value="Send Message" class="btn btn-primary">
					</div>

				</form>
			</div>
		</div>
	</div>
</div>







<div class="vu_section vu_s-layout-boxed">
				<div class="vu_s-wrapper vu_s-custom-663264 vc_custom_1512405225568">
			<div class="vu_s-content container">
				
	<div class="vu_row row vu_r-layout-boxed">
				<div class="vu_r-wrapper vu_r-custom-401779">
			<div class="vu_r-content container">
				
	<div class="vu_column vu_c-layout-normal vu_c-valign-auto vu_c-custom-247598 col-md-8">
		<div class="vu_c-wrapper">
			
	<div class="wpb_text_column wpb_content_element m-b-25" >
		<div class="wpb_wrapper">
			<h4 class="fs-15 m-t-30 m-b-0">Laissez-nous un message !</h4>

		</div>
	</div>
		<div class="vu_contact-form-7 vu_cf7-style-default clearfix ">
			
			<div role="form" class="wpcf7" id="wpcf7-f144-p362-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/contact/#wpcf7-f144-p362-o1" method="post" class="wpcf7-form vu_cf7-frm" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="144" />
<input type="hidden" name="_wpcf7_version" value="5.0.2" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f144-p362-o1" />
<input type="hidden" name="_wpcf7_container_post" value="362" />
</div>
<div class="row">
<div class="col-xs-6 m-b-15">
		<span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control m-b-5" aria-required="true" aria-invalid="false" placeholder="Prénom" /></span>
	</div>
<div class="col-xs-6 m-b-15">
		<span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control m-b-5" aria-required="true" aria-invalid="false" placeholder="Nom" /></span>
	</div>
</div>
<div class="row">
<div class="col-xs-6 m-b-15">
		<span class="wpcf7-form-control-wrap phone"><input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control m-b-5" aria-required="true" aria-invalid="false" placeholder="Telephone" /></span>
	</div>
<div class="col-xs-6 m-b-15">
		<span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control m-b-5" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
	</div>
</div>
<div class="row">
<div class="col-xs-12 m-b-15">
		<span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="7" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control m-b-5" aria-required="true" aria-invalid="false" placeholder="Message"></textarea></span>
	</div>
</div>
<div class="row">
<div class="col-xs-12 text-right">
		<input type="submit" value="Envoyer" class="wpcf7-form-control wpcf7-submit btn btn-primary btn-sm btn-inverse btn-round" />
	</div>
</div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>		</div>
			</div>
	</div>

	
	<div class="vu_column vu_c-layout-normal vu_c-valign-auto vu_c-custom-686120 col-md-4">
		<div class="vu_c-wrapper">
			
	<div class="wpb_text_column wpb_content_element m-b-20" >
		<div class="wpb_wrapper">
			<h4 class="fs-15 m-t-30 m-b-0">&#8230; ou contactez nous</h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element vc_custom_1533917321051" >
		<div class="wpb_wrapper">
			<p>par téléphone au 06 43 40 18 39</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element vc_custom_1531765308632" >
		<div class="wpb_wrapper">
			<h4 class="fs-15 m-t-0 m-b-20">Adresse</h4>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element vc_custom_1531765329584" >
		<div class="wpb_wrapper">
			<p>9 rue Tiquetonne, 75002 Paris</p>

		</div>
	</div>

	<div class="wpb_text_column wpb_content_element vc_custom_1529882470447" >
		<div class="wpb_wrapper">
			<h4 class="fs-15 m-t-0 m-b-20">Suivez-nous</h4>

		</div>
	</div>
		<div class="vu_social-networks vu_sn-size-small vu_sn-alignment-left">
							<div class="vu_sn-container">
				<div class="vu_social-icon"><a href="https://www.facebook.com/CBDCornerOfficiel/" target="_blank"><i class="fa fa-facebook"></i></a></div><div class="vu_social-icon"><a href="https://www.instagram.com/mycbdcorner/" target="_blank"><i class="fa fa-instagram"></i></a></div>			</div>
		</div>
			</div>
	</div>

				</div>
		</div>
	</div>

				</div>
		</div>
	</div>

	
	<div class="vu_section vu_s-layout-full">
				<div class="vu_s-wrapper vu_s-custom-966932 vc_custom_1512404770854">
			<div class="vu_s-content clearfix">
							</div>
		</div>
	</div>

						
											</div>

									</div>
			</div>
		</div>





		 <div class="rea">
            <div class="rea__wrapper wrapper">
                                                            <div class="rea__item rea__item--1">
                                            <span class="rea__icon" data-icon="" aria-hidden="true">
                                                    </span>
                        <span class="rea__link">
                            
                                                                    
                                                                    
                                                                            <strong>Paiement sécurisé</strong><br>Commandez en toute sécurité                                                                        
                                                                
                                                                
                        </span>
                                            </div>
                                                                                <div class="rea__item rea__item--2">
                                            <span class="rea__icon" data-icon="" aria-hidden="true">
                                                    </span>
                        <span class="rea__link">
                            
                                                                    
                                                                    
                                                                            <strong id="yui_3_17_2_13_1414059408828_218">Livraison rapide</strong><br>
Expédition &amp; Livraison rapide                                                                        
                                                                
                                                                
                        </span>
                                            </div>
                                                                                <div class="rea__item rea__item--3">
                                            <span class="rea__icon" data-icon="" aria-hidden="true">
                                                    </span>
                        <span class="rea__link">
                            
                                                                    
                                                                    
                                                                            <strong id="yui_3_17_2_13_1414059408828_213">Service client</strong><br>
À vos côtés 7j / 7 !                                                                        
                                                                
                                                                
                        </span>
                                            </div>
                                                                                <div class="rea__item rea__item--4">
                                            <span class="rea__icon" data-icon="" aria-hidden="true">
                                                    </span>
                        <span class="rea__link">
                            <strong>100% SATISFAIT</strong><br>
Notre priorité !
                        </span>
                                            </div>
                                                </div>