</br></br></br></br></br></br></br></br></br></br>

<section class="feature_product_area section_gap">
		<div class="main_box">
			<div class="container-fluid">
				<div class="row">
					<div class="main_title">
						<h2>Nos Produits</h2>
						<p>Who are in extremely love with eco friendly system.</p>
					</div>
				</div>









				<div class="row">
<% @items.each do |item| %>
					<div class="col col1">

						<div class="f_p_item">
							<div class="f_p_img">

								<%= image_tag(item.image_url) %>
								
								<div class="p_icon">
									<a href="#">
										<i class="fa fa-eye"></i>
									</a>
									<a href="#">
										<i class="fa fa-shopping-cart"></i>
									</a>
								</div>
							</div>
							
						 <%= item.title %> </br>
						 

						 			 Price :  <%= item.price %> $</br>
						 <%= link_to "Voir plus...", item_path(item.id)%> </br>

						</div>

					</div>
					<%end%>
					


				</div>

				
			</div>
		</div>
	</section>

	
	

	
	<div class="vu_section vu_s-layout-full">
				<div class="vu_s-wrapper vu_s-custom-966932 vc_custom_1512404770854">
			<div class="vu_s-content clearfix">
							</div>
		</div>
	</div>

						
											</div>

									</div>
			</div>
		</div>





		 <div class="rea">
            <div class="rea__wrapper wrapper">
                                                            <div class="rea__item rea__item--1">
                                            <span class="rea__icon" data-icon="" aria-hidden="true">
                                                    </span>
                        <span class="rea__link">
                            
                                                                    
                                                                    
                                                                            <strong>Paiement sécurisé</strong><br>Commandez en toute sécurité                                                                        
                                                                
                                                                
                        </span>
                                            </div>
                                                                                <div class="rea__item rea__item--2">
                                            <span class="rea__icon" data-icon="" aria-hidden="true">
                                                    </span>
                        <span class="rea__link">
                            
                                                                    
                                                                    
                                                                            <strong id="yui_3_17_2_13_1414059408828_218">Livraison rapide</strong><br>
Expédition &amp; Livraison rapide                                                                        
                                                                
                                                                
                        </span>
                                            </div>
                                                                                <div class="rea__item rea__item--3">
                                            <span class="rea__icon" data-icon="" aria-hidden="true">
                                                    </span>
                        <span class="rea__link">
                            
                                                                    
                                                                    
                                                                            <strong id="yui_3_17_2_13_1414059408828_213">Service client</strong><br>
À vos côtés 7j / 7 !                                                                        
                                                                
                                                                
                        </span>
                                            </div>
                                                                                <div class="rea__item rea__item--4">
                                            <span class="rea__icon" data-icon="" aria-hidden="true">
                                                    </span>
                        <span class="rea__link">
                            <strong>100% SATISFAIT</strong><br>
Notre priorité !
                        </span>
                                            </div>
                                                </div>